body {
	font-family: Tahoma, Verdana, Arial, Helvetica;
}

.pagefooter {
	font-size: 9px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;


}
.content {
	font-size: 11px;
	text-decoration: none;
	color: #333333;
}

.formTitle {
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}
.formText {
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}
.formText2 {
	font-size: 11px;
	text-decoration: none;
	color: #666666;
}
.formNote {
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
	color: #666666;
}

a:link {
	font-size: 11px;
	text-decoration: underline;
	font-weight: bold;
	color: #003366;	
}
a:visited {
	font-size: 11px;
	text-decoration: underline;
	font-weight: bold;
	color: #003366;	
}
a:hover {
	font-size: 11px;
	text-decoration: underline;
	font-weight: bold;
	color: #990000;	
}
a:active {
	font-size: 11px;
	text-decoration: underline;
	font-weight: bold;
	color: #990000;	
}
